USE [master]
GO
/****** Object:  Database [ApiAggregationStatistics]    Script Date: 07-12-25 08:42:06 ******/
CREATE DATABASE [ApiAggregationStatistics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApiAggregationStatistics', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ApiAggregationStatistics.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ApiAggregationStatistics_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ApiAggregationStatistics_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApiAggregationStatistics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApiAggregationStatistics]
GO
/****** Object:  Table [dbo].[Statistics]    Script Date: 07-12-25 08:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Api] [nvarchar](200) NOT NULL,
	[ResponseFast] [int] NOT NULL,
	[RespsonseAverage] [int] NOT NULL,
	[ResponseSlow] [int] NOT NULL,
	[RequestDate] [date] NOT NULL,
	[TimedOut] [int] NOT NULL,
	[Cached] [int] NOT NULL,
	[Failed] [int] NOT NULL,
 CONSTRAINT [PK_Statistics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UniqueAPIDateBuckets]    Script Date: 07-12-25 08:42:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UniqueAPIDateBuckets] ON [dbo].[Statistics]
(
	[Api] ASC,
	[RequestDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
